datasets/
0_DLNote/ch03-base/__pycache__/
0_DLNote/ch05-convNN/__pycache__/
0_DLNote/ch05-convNN/.ipynb_checkpoints/
0_DLNote/ch05-convNN/.vscode/
2014_ZFNet/__pycache__/
2014_ZFNet/weights/
2016_FENet/__pycache__/
script/__pycache__/
OD-2014-selectSearch/*.jpg
OD-2014-R-CNN/*.jpg
OD-2014-R-CNN/*.xml
OD-2014-R-CNN/.vscode
